.container {
    display: flex;
    margin-bottom: 0px;
}

/* Tooltip */
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
}

.tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

#tooltip ul {
    margin: 5px 0 0 0;
    padding-left: 20px;
}


.character {
    text-align: center;
    flex-basis: 48%;
}

.char-images {
    max-width: 60%;
    height: auto;
}

.summary {
    text-align: center;
    font-style: italic;
    color: #666;
    margin-bottom: 20px;
}

.description {
    align-items: justify;
    justify-content: center; /* Center characters horizontally */
    margin-bottom: 20px;
}
.source {
    font-size: 14px;
    text-align: center;
}

.control {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    margin-bottom: 0px;
}

.container-grid {
    display: grid;
    row-gap: 0px;
}

.screen {
    display: grid;
    width: 100%;
}

.screen-upper {
    gap: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 0px;
}

.screen-lower {
    display: grid;
    grid-template-columns: 3fr 3fr;
}